syntax: glob
local.properties

/.gradle
/.gradle/**

/.idea
/.idea/**

/build
/build/**

/*/build
/*/build/**

/**/*.iml

/captures
/captures/**

/projectFilesBackup*
/projectFilesBackup*/**

/app/seeds.txt
/app/mapping.txt
**/*.apk

.DS_Store
*.hprof